/* Boxes */
.widget {
  margin-left: auto;
  margin-right: auto;
  width: 78%;
  margin-top: 60px;
  border: 1px solid green;
}

/* Annotations */
.NN, #NounButton {
  background-color: orange;
}

.VV, #VerbButton {
  background-color: #54d4ff;  /* light blue */
}

.ADJ, #AdjectiveButton {
  background-color: green;
}

.token {
  user-select: all;
}
