<!-- Inspired by https://github.com/sahil-rajput/Candice-YourPersonalChatBot  -->
<!DOCTYPE html>
<html>
<head>
    <title>Chat with {{ botname }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<div>
        <h1>Chat with {{ botname }}</h1>
        <h4>{{ botinfo }}</h4>

        <p align="center"><img src="https://raw.githubusercontent.com/patelkelvin/Python-BOT/master/templates/favicon.ico" alt="Python-BOT" height="210" width="220"></p>

        <div class="boxed">
            <div>
                <div id="chatbox">
                    <p class="botText">
                        <span>{{ welcome_msg }}</span>
                    </p>
                </div>
                <div id="userInput">
                    <input id="textInput" type="text" name="msg" placeholder="Message" />
                </div>
            </div>
            <script src="{{url_for('static', filename='js/chat.js')}}"></script>
        </div>
    </div>
</body>
</html>
