/* Inspired by https://github.com/sahil-rajput/Candice-YourPersonalChatBot */

* {
  box-sizing: border-box;
}

h1, h4 {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

#chatbox {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  min-width: 400px;
  margin-top: 60px;
}

#userInput {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 60px;
}

#textInput {
  width: 90%;
  border: none;
  border-bottom: 3px solid black;
  font-family: monospace;
  font-size: 17px;
}

.userText {
  color: white;
  font-family: monospace;
  font-size: 17px;
  text-align: right;
  line-height: 30px;
}

.userText span {
  background-color: #808080;
  padding: 10px;
  border-radius: 2px;
}

.botText {
  color: white;
  font-family: monospace;
  font-size: 17px;
  text-align: left;
  line-height: 30px;
}

.botText span {
  background-color: #4169e1;
  padding: 10px;
  border-radius: 2px;
}

.boxed {
  margin-left: auto;
  margin-right: auto;
  width: 78%;
  margin-top: 60px;
  border: 1px solid green;
}
