<!DOCTYPE html>
<html>

<head>
  <title>Annotationstool</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{url_for('static', filename='js/index.js')}}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
  <h1 align="center">Annotationstool</h1>

  <div align="center" class="widget" id="anno-window" width="400px">
    {% for token in tokenlist %}
      <span class="token" id="{{ token[0] }}">
        {{ token[1] }}
      </span>
    {% endfor %}
  </div>

  <div class="widget" id="controls">
    <input id="NounButton" type="button" value="Noun" onclick="addAnnotation('NN')">
    <input id="VerbButton" type="button" value="Verb" onclick="addAnnotation('VV')">
    <input id="AdjectiveButton" type="button" value="Adjective" onclick="addAnnotation('ADJ')">
  </div>

  <div class="widget" id="result"></div>

</body>

</html>
